
.container{
  background-color: gray;
  border-radius: 5px;
  border-color: black;
  border-style: solid ;
  border-width: thin;
  margin-left: 20px;
  width: 90%;
}

.btn:hover {
  color: yellow;
}

.bg-screen{
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: darkslategrey;
  color: greenyellow;
  border-color: darkgreen;
  border-style: solid ;
  border-radius: 6px;
  border-width: thin;
  width: 40%;
  height: 50px;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
}

.bg-button{
  background-color: lightskyblue;
  border-color: gray;
  border-style: solid;
  height: 50px;
  border-radius: 12px;
  border-width: thick;
  text-align: center;
  font-weight: bold;
}

.bg-clrscr{
  background-color: rgb(196, 128, 111);
  /* border-color: saddlebrown; */
  border-color: grey;
  border-style: solid;
  border-width: thick;
  height: 50px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

.bg-accept{
  background-color: peru;
  /* border-color: saddlebrown; */
  border-color: grey;
  border-style: solid;
  border-width: thick;
  height: 50px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}


/* 
body{
  background-color: peru;
  color: white;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
} */

h1{
  color: darkred;
  font-size: 20px;
}
